*{
  box-sizing: border-box;
  margin: 0;
}

header, footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

}

header img{
  width: 25%;
}
body{
  width: 80%;
  margin: auto;
  table-layout: fixed;
  align-items: center;
  font-family: URW Chancery L, cursive;
  background: linear-gradient(to right top,  rgba(37, 126, 126, .7),  aquamarine, rgb(37, 126, 126, .7));
}


table{
  width: 100%;
  text-align: center;
  border-radius: 20%;
  empty-cells: hide;
  padding: 20px 0;

}

main div img {
  float: left;
  width: calc(100% / 3);
  border-radius: 15px;
  margin: 5px;
}

td, th{
  border-radius: 20%;
  padding: 5px;
  border: dotted  rgba(37, 126, 126, .7);
}


th {
  background-color: #62ad65;
  color: white;
  text-transform:uppercase;

}

 h1{
  font-weight: bolder;
  text-transform:uppercase;
  font-style: oblique;
  font-size: 400%;    
} 

h3{
  font-weight: bolder;
  text-transform:capitalize;
  font-size: 150%;    
}

main div ul{
  padding: 10px 0;
  margin: auto;
}

tr:hover{
  background-color: rgba(33, 219, 243, 0.5);
  font-weight: bolder;
}

main div:nth-child(2){
  clear: both;
  padding: 20px 0;
}

fieldset{
  border: dotted  rgb(37, 126, 126);
  display: inline-block;
}